#user {
    background-color: var(--dark-blue);

    border-radius: 1rem;

    #user-info {
        background-color: var(--blue);
        
        border-radius: 1rem;

        * {
            margin: 0rem;
        }

        img {
            background-color: white;

            border-radius: 100%;
            padding: 0.2rem;
        }

        p {
            color: var(--pale-blue);
        }

        h1 {
            color: white;
        }
    }

    #time-lapse {
        label {
            color: var(--pale-blue);

            /* To fix to always stay white */
            &:hover, &:focus-within {
                color: white;
            }

            input {
                display: none;
            }
        }
    }
}