@media (min-width: 800px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .App {
        display: flex;
        gap: 1rem;
    }

    #user {
        #user-info {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            padding: 1rem;

            height: 60%;

            img {
                width: 40%;
            }

            h1 {
                font-weight: 300;
                font-size: xx-large;
            }
        }

        #time-lapse {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            padding: 1rem;
        }
    }

    #activities {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1rem;

        .activity {
            .activity-data {
                margin-top: 3rem;
            }
        }
    }
}